<ion-header>
  <ion-toolbar>
    <ion-label text-center style="    margin-left: 136px;
    font-weight: 600;
    font-size: larger;" slot="start">checkout</ion-label>
    <ion-label slot="end" style="    color: blue;
    margin-right: 15px;
    font-size: 17px;">cancel</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="    margin-left: 10px;
margin-top: 55px;">
  Collection time
</div>
<ion-item>
    <ion-textarea style="line-height: 3" placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
  <div style="padding: 20px">
    leave a note for retaurant to let thm know what you want exactly..
  </div>
</ion-content>
