<ion-header>


<div style="margin-bottom: -15px;
margin-top: 20px;" >
  <ion-icon name="arrow-back" mode="ios" (click)="back()" style="font-size: x-large;
  /* margin-top: 0px; */
  margin-bottom: -5px; color: blue;"></ion-icon>
        <!-- <ion-icon style="color:black !important" mode="ios" slot="start" name="back"></ion-icon> -->
     <ion-label (click)="back()" style="    font-size: 16px;
     color: blue;"> Back</ion-label>
    </div>
    <ion-label  text-center style="    margin-left: 130px;
    font-size: 19px;">Popular</ion-label>
    <ion-button slot="end" text-right style="    margin-bottom: 10px;
    margin-top: -17px;
  
    padding-left: 48px;" routerLink="/cart" >
      <ion-icon name="cart"></ion-icon> 1 | $9.95
    </ion-button>
</ion-header>

<ion-content>
  <ion-item lines="none" style="margin-top: 10px">
    <ion-icon name="alert" style="color: blue;    font-size: 50px;
            padding-right: 7px;"></ion-icon>
    <div style="color: blue">
      If you or someone you're ordering for has a food allergy or intolerance ,tap here
    </div>

  </ion-item>
  <div style="    padding: 18px;
  font-weight: 600;" >
    Popular
  </div>
  <ion-list>
    <ion-item routerLink="/items" lines="none">
      <ion-label>Popular</ion-label>
      <ion-label slot="end" style="flex: none">$3.5</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
     
      
    
    </ion-item>
    <ion-item >
      <ion-icon name="remove" style="color: blue;"slot="start" mode="ios"></ion-icon>
      <ion-icon name="checkmark" mode="ios" style="color:green"></ion-icon>
      <ion-label style="color: green">$3.5</ion-label>
    </ion-item>
   
    <ion-item>
      <ion-label>Popadom</ion-label>
      <ion-label slot="end" style="flex: none">$0.60</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Starter</ion-label>
      <ion-label slot="end" style="flex: none">$17.21</ion-label>
      <ion-icon name="add" style="color: blue;"mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Exclusive Soda</ion-label>
      <ion-label slot="end" style="flex: none">$1.1</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Our Popular dish</ion-label>
      <ion-label slot="end" style="flex: none">$7.11</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tandori Fish</ion-label>
      <ion-label slot="end" style="flex: none">$18.21</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Biryani </ion-label>
      <ion-label slot="end" style="flex: none"></ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item routerLink="/items">
      <ion-label>Popular</ion-label>
      <ion-label slot="end" style="flex: none">$3.5</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Popadom</ion-label>
      <ion-label slot="end" style="flex: none">$0.60</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Starter</ion-label>
      <ion-label slot="end" style="flex: none">$17.21</ion-label>
      <ion-icon name="add" style="color: blue;"mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Exclusive Soda</ion-label>
      <ion-label slot="end" style="flex: none">$1.1</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Our Popular </ion-label>
      <ion-label slot="end" style="flex: none">$7.11</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tandori Fish</ion-label>
      <ion-label slot="end" style="flex: none">$18.21</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Biryani </ion-label>
      <ion-label slot="end" style="flex: none"></ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item routerLink="/items">
      <ion-label>Popular</ion-label>
      <ion-label slot="end" style="flex: none">$3.5</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Popadom</ion-label>
      <ion-label slot="end" style="flex: none">$0.60</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Starter</ion-label>
      <ion-label slot="end" style="flex: none">$17.21</ion-label>
      <ion-icon name="add" style="color: blue;"mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Exclusive Soda</ion-label>
      <ion-label slot="end" style="flex: none">$1.1</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Our Popular </ion-label>
      <ion-label slot="end" style="flex: none">$7.11</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Tandori Fish</ion-label>
      <ion-label slot="end" style="flex: none">$18.21</ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Biryani </ion-label>
      <ion-label slot="end" style="flex: none"></ion-label>
      <ion-icon name="add" style="color: blue;" mode="ios" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>