<ion-header>
  <div style="    margin-bottom: 14px;
  margin-top: 13px;">
    <ion-icon name="arrow-back" mode="ios" (click)="back()" style="font-size: x-large;
 
    margin-bottom: -5px; color: blue;"></ion-icon>
    <!-- <ion-icon style="color:black !important" mode="ios" slot="start" name="back"></ion-icon> -->
    <ion-label (click)="back()" style="    font-size: 16px;
       color: blue;"> Menu</ion-label>
    <ion-label slot="end" style="margin-left: 235px ;color:blue">Edit</ion-label>
  </div>

</ion-header>

<ion-content>
  <div style="    text-align: center;
margin-top: 20px;">
    Order total (1 item)
  </div>
  <div style="text-align: center;font-size: 25px;
margin-top: 5px;
font-weight: 600;">
    $9.95
  </div>

  <ion-radio-group>

    <ion-item lines="none">
      <div style="    margin-left: 50px;
      padding: 5px;">
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" style="    margin-left: 25px;" value="biff" checked></ion-radio>
      </div>
      <div style="margin-left: 85px">
        <ion-label>collection</ion-label>
        <ion-radio text-center  style="    margin-left: 25px;"slot="start" value="griff"></ion-radio>
      </div>

    </ion-item>


  </ion-radio-group>
  <ion-button  color="primary" style=   " width: 97%;

  margin: 30px 7px 0px 5px;height: 45px" routerLink="/checkout"> Go to checkout</ion-button>
    <ion-item lines="none" style="margin-top: 10px">
        <ion-icon name="alert" style="color: blue;    font-size: 50px;
                padding-right: 7px;"></ion-icon>
        <div style="color: blue">
          If you or someone you're ordering for has a food allergy or intolerance ,tap here
        </div>
    
      </ion-item>
      <ion-list>
          <ion-item routerLink="/items" lines="none">
            <ion-label>Popular</ion-label>
            
            <ion-label style="
            
                flex: none;
                border: solid 0.5px grey;
                width: 26px;
                height: 24px;
                text-align: center;" mode="ios" slot="end">1</ion-label>
            <ion-label slot="end" style="flex: none">$9.95</ion-label>
           
            
          
          </ion-item>
          <ion-item routerLink="/items" lines="none">
            <ion-label style="margin-top: 35px;
            color: grey;
            font-size: small;">SUBTOTAL</ion-label>
          
            <ion-label slot="end" style="flex: none ;margin-top: 35px;
            color: grey;
            font-size: small;">$9.95</ion-label>
           
            
          
          </ion-item>
          <ion-item routerLink="/items" lines="none">
            <ion-label>Total</ion-label>
            
            <ion-label slot="end" style="flex: none">$9.95</ion-label>
           
            
          
          </ion-item>
      </ion-list>
</ion-content>