<ion-header>
  <div style="    margin-bottom: 14px;
  margin-top: 13px;">
    <ion-icon name="arrow-back" mode="ios" (click)="back()" style="font-size: x-large;
 
    margin-bottom: -5px; color: blue;"></ion-icon>
    <!-- <ion-icon style="color:black !important" mode="ios" slot="start" name="back"></ion-icon> -->
    <ion-label (click)="back()" style="    font-size: 16px;
       color: blue;"> Menu</ion-label>
    <ion-label slot="end" style="margin-left: 235px ;color:blue">Edit</ion-label>
  </div>

</ion-header>

<ion-content>
  <div style="    text-align: center;
margin-top: 20px;">
    Order total (1 item)
  </div>
  <div style="text-align: center;font-size: 25px;
margin-top: 5px;
font-weight: 600;">
    $9.95
  </div>

  <ion-radio-group>

    <ion-item lines="none">
      <div style="    margin-left: 50px;
      padding: 5px;">
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" style="    margin-left: 25px;" value="biff" checked></ion-radio>
      </div>
      <div style="margin-left: 85px">
        <ion-label>collection</ion-label>
        <ion-radio text-center  style="    margin-left: 25px;"slot="start" value="griff"></ion-radio>
      </div>

    </ion-item>


  </ion-radio-group>
  <ion-button color="primary" style="width: 100%">Primary</ion-button>
</ion-content>